.container {
    flex: 1
}

.paddingSides {
    padding: 3;
}

.fileBar {
    background-color: #f1f1f1;
}

.fileName {
    background-color: white;
    padding: 4 10;
    width: max-content;
}

.lineNum {
    color: #106e86;
}

.lineNumsContainer {
    padding: 0px 20px;
}