.container {
    display: flex;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

.paddingSides {
    padding: 3;
}

.fileBar {
    background-color: #f1f1f1;
    display: flex;
    flex-shrink: 0;
}

.fileName {
    padding: 4 10;
    width: max-content;
}

.fileNameActive {
    background-color: white;
}

.fileNameInactive {
    background-color: #E9E9E9;
}

.lineNum {
    color: #106e86;
}

.lineNumsContainer {
    padding: 0px 20px;
}

.screenQuarterContainer {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    min-height: 0;
    overflow-y: hidden;
    &:last-child {
        flex: 1;
    }
}