.window {
    --fieldsetBorder: lightslategrey;
    --fileBarBackground: #f1f1f1;
    --fileNameActive: white;
    --fileNameInactive: #E9E9E9;
    --lineNum: #106e86;
    --dragOver: #D6EBFF;
    --pathNameBoxShadow: rgba(0, 0, 0, 0.3);
    --globalHover: #e4e4e4;
    --iconBackground: #2c2c2c;
    --filesBackground: #f3f3f3;
    --contentBorder: lightgrey;
    --topScreen: #e1e1e1;
    --footerBackground: #0071c1;
    --footerText: white;
    --linkText: #5a5a5a;
    --focusedFile: #dfe2ee;
    --fileColumnBorder: grey;
    --imageNavButton: rgba(0, 0, 0, 0.4);
    --imageNavButtonHover: rgba(0, 0, 0, 0.6);
    --dotBackground: #ccc;
    --dotActiveBackground: #0071c1;
}