.contactFieldset {
    border: 2px solid var(--fieldsetBorder);
    border-radius: 5px;
    padding: 5px 15px 20px;
}

.contactLegend {
    font-weight: bold;
}

.input {
    border: 1px solid var(--fieldsetBorder);
    border-radius: 5px;
    padding: 3px;
}

.checkbox {
    margin-right: 5px;
    align-self: center;
}

.inputLarge {
    height: 1;
}

.inputInvalid {
    border-color: red;
}

.inputDiv {
    margin: 3px 0 10px;
}

.label {
    margin-bottom: 3px;
    justify-content: space-between;
}

.formButton {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px 15px;
}

.formButtonDisabled, .errorMessage {
    color: red;
}

.landing {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

@media (min-width: 769px) {
    .landingMobile {
        display: none
    }
}

@media (max-width: 768px) {
    .landingDesktop {
        display: none;
    }
}