.rowFlex {
    display: flex;
    flex-direction: row;
}

.columnFlex {
    display: flex;
    flex-direction: column;
}

.paddingTopBottom {
    padding: 2px 0;
}

.hover, .hover * {
    &:hover {
        background-color: var(--globalHover);
        cursor: pointer;
    }
}