html, body {
    height: 100%;
}

.window {
    background-color: var(--defaultBackground);
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: var(--defaultText);
}

.rowFlex {
    display: flex;
    flex-direction: row;
}

.homeContainer {
    flex: 1;
    min-height: 0;
    overflow: hidden;
}

.iconsPane {
    background-color: var(--iconBackground);
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.iconContainer {
    padding: 16px;
    max-height: fit-content;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.iconSpacer {
    flex-grow: 1;
}

.iconContainerActive {
    border-left: solid var(--iconBorder) 3px;
}

.iconContainerInactive {
    border-left: solid var(--iconBackground) 3px;
}

.filesPane {
    background-color: var(--filesBackground);
    width: 15%;
    flex-shrink: 0;
    overflow-y: auto;
}

.contentPane {
    flex: 1;
    min-height: 0;
    display: flex;
    > :nth-child(2) {
        border-left-width: 1px;
        border-left-color: var(--contentBorder);
    }
}

.verticalFileSplit {
    flex: 1;
    min-height: 0;
    > :nth-child(2) {
        border-top-width: 1px;
        border-top-color: var(--contentBorder);
    }
}

.topScreenBar {
    background-color: var(--topScreen);
    flex-shrink: 0;
}

.windowControlContainer {
    min-width: 1vw;
    min-height: 1vw;
    margin: 6px;
    border-radius: 9999px;
}

.windowIconRed {
    background-color: #FF4E4F;
}

.windowIconYellow {
    background-color: #FFB33C;
}

.windowIconGreen {
    background-color: #1DC448;
}

.bottomScreenBar {
    background-color: var(--footerBackground);
    flex-shrink: 0;
    text-align: center;
    color: var(--footerText);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sectionLinksChevron {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    margin: 0 3px;;
    transition: transform 0.15s ease;
}

.sectionLinksChevronExpanded {
    transform: rotate(90deg);
}

.linkText {
    color: var(--linkText);
}

.fileButton {
    padding-left: 5px;
}

.focusedFile {
    background-color: var(--focusedFile);
}

.fileRowOuter {
    width: 100%;
}
  
.fileRowInner {
    margin-left: 19px;
    padding-left: 5px;
    border-left: 1px solid var(--fileColumnBorder);
}

@media (max-width: 768px) {
    .homeContainer {
        display: block;
    }

    .filesPane {
        display: none;
    }

    .iconsPane {
        flex-direction: row;
        flex: 1;
    }

    .iconContainer {
        max-width: 15%;
    }

    .iconContainerActive {
        border-top: solid var(--iconBorder) 3px;
        border-left: none;
    }
    
    .iconContainerInactive {
        border-top: solid var(--iconBackground) 3px;
        border-left: none;
    }

    .homeContainer > :last-child, .iconsPane {
        width: 100%;
    }

    .contentDesktop {
        display: none;
    }
}

@media (min-width: 769px) {
    .contentMobile {
        display: none;
    }
}