.themeFieldset {
    border-top: 2px solid var(--fieldsetBorder);
    border-bottom: 2px solid var(--fieldsetBorder);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.themeLegend {
    width: fit-content;
    margin: 0;
    padding: 0 5px;
}

.settingsContainer {
    padding: 20px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.span {
    margin-left: 10px;
    margin-right: 20px;
}

.label {
    padding-left: 15px;
    margin-bottom: 5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
}

.radioSelector {
    accent-color: var(--defaultText);
}

.paletteDots {
    gap: 6px;
}

.paletteDot {
    width: 8px;
    height: 8px;
    border-radius: 9999px;
}